@font-face {
  font-family: 'zorque';
  src: URL('../fonts/zorque.ttf') format('truetype');
}

body{
  background-color: #16406d;
}

.topBar {
  background-color: black;
  height: 70px;
}

.gameName{
  font-size: 40px;
  color: white;
  font-family: zorque;
}

.player{
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.points{
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: aqua;
  cursor: pointer;
}

.card.done{
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

/* 
Feedback for the user, so they know which card they'll click on (also cursor: pointer)
*/
.card:hover {
  box-shadow: inset 0px 0px 0px 5px black;
  box-sizing: border-box;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

.darkcyan {
  background-color: darkcyan;
}

.gold {
    background-color: gold;
  }

.black {
    background-color: black;
  }

.brown {
    background-color: brown;
  }

 .magenta {
    background-color: magenta;
  }

 .pink {
    background-color: pink;
  }

 .silver {
    background-color: silver;
  }

 .beige {
    background-color: beige;
  }

 .lime {
    background-color: lime;
  }

.chocolate {
    background-color: chocolate;
  }

.darksalmon {
    background-color: darksalmon;
  }

.darkviolet {
    background-color: darkviolet;
  }

.deeppink {
    background-color: deeppink;
  }

.greenyellow {
    background-color: greenyellow;
  }

.indianred {
    background-color: indianred;
  }

.indigo {
    background-color: indigo;
  }

.navy {
    background-color: navy;
  }

.lightslategray {
    background-color: lightslategray;
  }

.color-hidden {
  background-color: rgb(206, 205, 255);
  box-shadow: black;
}