@font-face {
  font-family: 'zorque';
  src: URL('../fonts/zorque.ttf') format('truetype');
}

body{
  background-color: #16406d;
}

.topBar {
  background-color: black;
  height: 70px;
}

.gameName{
  font-size: 40px;
  color: white;
  font-family: zorque;
}

.playerPoints{
  font-size: 40px;
  color: white;
  font-family: zorque;
}

.flex-container{
  position: absolute;
  top: 125px;
  left: 50px;
}

.card {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: black;
  cursor: pointer;
  margin: 3px 3px 3px 3px;
}

.card.done{
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

/* 
Feedback for the user, so they know which card they'll click on (also cursor: pointer)
*/
.card:hover {
  box-shadow: inset 0px 0px 0px 6px black;
  box-sizing: border-box;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

.darkcyan {
  background-color: darkcyan;
}

.gold {
    background-color: gold;
  }

.black {
    background-color: black;
  }

.brown {
    background-color: brown;
  }

 .magenta {
    background-color: magenta;
  }

 .pink {
    background-color: pink;
  }

 .silver {
    background-color: silver;
  }

 .beige {
    background-color: beige;
  }

 .lime {
    background-color: lime;
  }

.chocolate {
    background-color: chocolate;
  }

.darksalmon {
    background-color: darksalmon;
  }

.darkviolet {
    background-color: darkviolet;
  }

.deeppink {
    background-color: deeppink;
  }

.greenyellow {
    background-color: greenyellow;
  }

.indianred {
    background-color: indianred;
  }

.indigo {
    background-color: indigo;
  }

.navy {
    background-color: navy;
  }

.lightslategray {
    background-color: lightslategray;
  }

.color-hidden {
  background-color: white;
  background-image: url("../img/question.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: black;
}

.scoreboard{
  font-size: 50px;
  color: white;
  font-family: zorque;
  position: absolute;
  top: 150px;
  right: 150px;
}

.players {
  position: absolute;
  top: 250px;
  right: 200px;
  width: 250px;
  height: 300px;
  border: 5px solid black;
  background-color: white;
} 

.player{
  font-size: 25px;
  color: black;
  font-family: zorque;
  text-align: center;

}

.container{
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
}

h4{
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: zorque;
}